/independen_lexicon_0_0_(MATCHES_0_of_0).json
/independen_lexicon_0_0_(MATCHES_0_of_6).json
/independen_lexicon_0_0_(MATCHES_1_of_6).json
/independen_lexicon_0_0_(MATCHES_2_of_6).json
/independen_lexicon_0_0_(MATCHES_3_of_6).json
/independen_lexicon_0_0_(MATCHES_4_of_6).json
/independen_lexicon_0_0_(MATCHES_5_of_6).json
/independen_lexicon_0_0_(MATCHES_6_of_6).json
/independen_lexicon_0_1_(MATCHES_0_of_0).json
/independen_lexicon_0_1_(MATCHES_0_of_6).json
/independen_lexicon_0_1_(MATCHES_1_of_6).json
/independen_lexicon_0_1_(MATCHES_2_of_6).json
/independen_lexicon_0_1_(MATCHES_3_of_6).json
/independen_lexicon_0_1_(MATCHES_4_of_6).json
/independen_lexicon_0_1_(MATCHES_5_of_6).json
/independen_lexicon_0_1_(MATCHES_6_of_6).json
/independen_lexicon_1_0_(MATCHES_0_of_0).json
/independen_lexicon_1_0_(MATCHES_0_of_6).json
/independen_lexicon_1_0_(MATCHES_1_of_6).json
/independen_lexicon_1_0_(MATCHES_2_of_6).json
/independen_lexicon_1_0_(MATCHES_3_of_6).json
/independen_lexicon_1_0_(MATCHES_4_of_6).json
/independen_lexicon_1_0_(MATCHES_5_of_6).json
/independen_lexicon_1_0_(MATCHES_6_of_6).json
/independen_lexicon_1_1_(MATCHES_0_of_0).json
/independen_lexicon_1_1_(MATCHES_0_of_6).json
/independen_lexicon_1_1_(MATCHES_1_of_6).json
/independen_lexicon_1_1_(MATCHES_2_of_6).json
/independen_lexicon_1_1_(MATCHES_3_of_6).json
/independen_lexicon_1_1_(MATCHES_4_of_6).json
/independen_lexicon_1_1_(MATCHES_5_of_6).json
/independen_lexicon_1_1_(MATCHES_6_of_6).json
/independen_lexicon_2_0_(MATCHES_0_of_0).json
/independen_lexicon_2_0_(MATCHES_0_of_6).json
/independen_lexicon_2_0_(MATCHES_1_of_6).json
/independen_lexicon_2_0_(MATCHES_2_of_6).json
/independen_lexicon_2_0_(MATCHES_3_of_6).json
/independen_lexicon_2_0_(MATCHES_4_of_6).json
/independen_lexicon_2_0_(MATCHES_5_of_6).json
/independen_lexicon_2_0_(MATCHES_6_of_6).json
/independen_lexicon_2_1_(MATCHES_0_of_0).json
/independen_lexicon_2_1_(MATCHES_0_of_6).json
/independen_lexicon_2_1_(MATCHES_1_of_6).json
/independen_lexicon_2_1_(MATCHES_2_of_6).json
/independen_lexicon_2_1_(MATCHES_3_of_6).json
/independen_lexicon_2_1_(MATCHES_4_of_6).json
/independen_lexicon_2_1_(MATCHES_5_of_6).json
/independen_lexicon_2_1_(MATCHES_6_of_6).json
/independen_lexicon_3_0_(MATCHES_0_of_0).json
/independen_lexicon_3_0_(MATCHES_0_of_6).json
/independen_lexicon_3_0_(MATCHES_1_of_6).json
/independen_lexicon_3_0_(MATCHES_2_of_6).json
/independen_lexicon_3_0_(MATCHES_3_of_6).json
/independen_lexicon_3_0_(MATCHES_4_of_6).json
/independen_lexicon_3_0_(MATCHES_5_of_6).json
/independen_lexicon_3_0_(MATCHES_6_of_6).json
/independen_lexicon_3_1_(MATCHES_0_of_0).json
/independen_lexicon_3_1_(MATCHES_0_of_6).json
/independen_lexicon_3_1_(MATCHES_1_of_6).json
/independen_lexicon_3_1_(MATCHES_2_of_6).json
/independen_lexicon_3_1_(MATCHES_3_of_6).json
/independen_lexicon_3_1_(MATCHES_4_of_6).json
/independen_lexicon_3_1_(MATCHES_5_of_6).json
/independen_lexicon_3_1_(MATCHES_6_of_6).json
